@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

* {
    height: fit-content;

    color: var(--bs-body-color);
    font-family: "Funnel Display";

    transition: all .35s ease;
}

.container-fluid {
    @extend .d-flex;
    @extend .flex-row;
}

.panel {
    @extend .d-flex;
    @extend .flex-column;
    @extend .w-25;
    @extend .min-vh-100;
    @extend .p-3;
    
    background-color: var(--bs-tertiary-bg);
}

.panel-button {
    @extend .w-100;
    @extend .px-3;
    @extend .mb-2;
    @extend .py-2;
    @extend .fs-4;
    @extend .fw-semibold;
    @extend .border;
    @extend .border-1;
    @extend .rounded-1;

    --bs-border-opacity: 0;
    border-color: rgba(var(--bs-primary-border-subtle), var(--bs-border-opacity));

    background-color: var(--bs-secondary-bg);

    cursor: pointer;
}
.panel-button:hover {
    --bs-border-opacity: 1;
}
.panel-button:is(.active) {
    background-color: var(--bs-primary);
}
.panel-button:is(.active), .panel-button:is(.active) .bi {
    color: white;
}

.page {
    @extend .d-flex;
    @extend .flex-row;
    @extend .flex-wrap;
    @extend .align-content-start;
    @extend .w-75;
    @extend .min-vh-100;
    @extend .px-5;
    @extend .py-3;
}

.page h1 {
    @extend .w-100;
    @extend .mb-4;
}

.info {
    @extend .d-flex;
    @extend .flex-column;
    @extend .w-auto;
    @extend .px-4;
    @extend .py-3;
    @extend .rounded-1;

    background-color: var(--bs-light-bg-subtle);
}

.info-section {
    @extend .my-2;
}